/* custom properties */

:root {
    --clr-white: 360, 100%, 100%;
    --clr-accent-300: hsl(288, 86%, 75%);
    --clr-accent-400: hsl(58, 85%, 58%);

    --clr-background-primary: 240, 36%, 54%;
    --clr-background-secondary: 240, 38%, 25%;

    /* --fs-200: 0.6rem;
    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2.75rem;
    --fs-900: 4rem; */

    --fs-200: 0.6rem;
    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2.75rem;
    --fs-900: 3rem;

    --ff-default: "Readex Pro", sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
}

@media (min-width: 1024px) {
    :root {
        --fs-900: 4rem;
    }
}

/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
picture,
figure {
  margin: 0;
}

h2 {
    font-size: var(--fs-700);
}

p {
    line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea,
select,
button {
  font: inherit;
}

body {
    font-family: var(--ff-default);
    font-weight: var(--fw-light);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    min-height: 100vh;
    margin: 1rem;
    overflow-x: hidden;
    background-image: url(./assets/Background.png);
    background-size: cover;
}

section:not(:first-of-type) {
    margin-block: 2rem;
}

@media (min-width: 768px) {
    body {
        margin: 2rem;
    }
}

@media (min-width: 1024px) {
    body {
        margin: 2rem 3rem;
    }
}

@media (min-width: 1440px) {
    body {
        margin: 1rem 5rem;
    }
}

/* utility classes */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 2rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.uppercase {
    text-transform: uppercase;
    font-size: var(--fs-300);
}

.subtitle {
    letter-spacing: 1.5px;
}

.linear-gradient {
    background: linear-gradient(to right, var(--clr-accent-300), var(--clr-accent-400));

    color: transparent;
    background-clip: text;
    border: none;
}

/* general styling */

.glassmorphism {
    background-color: hsla(var(--clr-background-primary), .2);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 1.5rem;
    z-index: 1000;
}

.button {
    background: linear-gradient(to right, var(--clr-accent-300), var(--clr-accent-400));
    padding: 0.75rem 2rem;
    margin-block: 1rem;
    width: fit-content;
    border: 0;
    border-radius: 0.5rem;
    text-decoration: none;
    color: hsl(var(--clr-background-secondary));
    cursor: pointer;
}

/* primary header & navigation */

.navigation-logo {
    min-width: 1.5rem;
    padding-block: 1rem;
}

.primary-header {
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.primary-header > nav {
    flex: 1;
}

.primary-navigation {
    --gap: 2rem;
    list-style: none;
    justify-content: flex-end;
}

.primary-navigation a {
    color: hsl(var(--clr-white));
    text-decoration: none;
    padding-block: 3rem;
}

.mobile-nav-toggle {
    display: none;
    width: 1.25rem;
}

@media (min-width: 400px) {
    .mobile-nav-toggle {
        width: 1.5rem;
    }
}

@media (max-width: 768px) {
    .primary-navigation {
      --gap: 4rem;
      position: fixed;
      inset: -50px -10% 0 25%;
      z-index: 1000;
      flex-direction: column;
      justify-content: flex-start;
      padding: 6rem 4rem;
      margin: 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      background-color: hsla(var(--clr-background-secondary), .7);
      backdrop-filter: blur(5px);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        left: auto;
    
        border: none;
        background: none;
        background-image: url(./assets/icon-hamburger.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 1;
      }
    
      .primary-navigation[data-visible="true"] {
        transform: translateX(0);
      }
    
      .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./assets/icon-close.svg);
      }
}

@media (min-width: 1024px) {
    .primary-navigation {
        --gap: 3rem;
    }
}

/* hero */

.header-container {
    display: grid;
    place-items: center;
    padding: 2rem;
    width: 100%;
}

.hero {
    display: grid;
    position: relative;
    width: 100%;
}

.hero-container {
    display: grid;
    gap: 1.5rem;
    place-items: center;
    justify-content: space-around;
}

.hero-container img {
    width: 80%;
    max-width: 450px;
}

.hero-info {
    --gap: 1.5rem;
    text-align: center;
    place-items: center;
}

.hero-info h1 {
    font-weight: var(--fw-light);
    color: hsl(var(--clr-white));
}

.hero-info h1 > span {
    display: block;
    font-size: var(--fs-900);
    font-weight: var(--fw-bold);
    width: fit-content;
    margin-top: 0.5rem;
}

.hero-info p {
    max-width: 42ch;
}

@media (min-width: 1024px) {
    .hero-container {
        grid-template-columns: 1fr 1fr;
        padding: 2rem clamp(3rem, 8vw, 5rem);
    }

    .hero-container img {
        width: 400px;
    }

    .hero-info {
        text-align: left;
        place-items: start;
        grid-column: 1;
        grid-row: 1;
    }
}

@media (min-width: 1440px) {
    .hero-container {
        grid-template-columns: auto auto;
    }
}

/* about */

.about-container {
    display: grid;
    gap: 2rem;
    place-items: center;
    width: 100%;
}

.about-img-container {
    width: 100%;
}

.about-img {
    height: auto;
    width: 100%;
}

.about-info {
    --gap: 1rem;
    padding: 3rem;
    width: 100%;
    align-content: start;
}

@media (min-width: 768px) {
    .about-container {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: start;
    }

    .about-info {
        height: 100%;
    }
}

/* languages & frameworks */

.languages-container {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 1rem;
}

.scroller {
    max-width: 100%;
}
  
.scroller__inner {
    padding-block: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
      );
      mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 40s forwards linear infinite;
}

@keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}
  
.tag-list li {
    display: grid;
    place-items: center;
    gap: 1.5rem;
    width: 150px;
    padding: 2rem;
    border-radius: 1.25rem;
    background: hsl(var(--clr-background-secondary));

    position: relative;
}

.tag-list li::before,
.tag-list li::after {
  content: "";
  position: absolute;
  inset: -0.25rem;
  z-index: -1;
  background: linear-gradient(to bottom right, var(--clr-accent-300), var(--clr-accent-400));
  border-radius: 1.5rem;
}

.tag-list li::after {
  filter: blur(0.5rem);
}


.tag-list li img {
    height: 80px;
    width: 80px;
}

/* education & experience */

.history-heading {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 1rem
}

.timeline {
    display: grid;
    grid-template-columns: 30px 1fr;
    width: 100%;
    position: relative;
    max-width: 1024px;
    margin-block: 2rem;
}

.scroll-watcher {
    width: 5px;
    height: 100%;
    position: relative;
    justify-self: center;
    margin-right: 3rem;
    grid-row: span 4;
    top: 0;
    left: 15px;
    z-index: 1000;
    background: linear-gradient(to bottom, var(--clr-accent-400), var(--clr-accent-300));
}

.scroll-watcher-cp:first-of-type {
    top: 40px;
    left: 10px;
}

.scroll-watcher-cp:nth-child(3) {
    top: 40px;
    left: 10px;
}

.scroll-watcher-cp:nth-child(4) {
    top: 70px;
    left: 10px;
}

.experience-container {
    display: relative;
    place-items: center;
    gap: 1rem;
}

.checkpoint {
    position: relative;
    padding: 3rem 2rem;
    margin-block: 1.5rem;
}

.checkpoint div {
    display: grid;
    align-items: center;
    gap: 0.5rem;
}

.checkpoint img {
    width: 75px;
    margin-bottom: 0.5rem;
}

.checkpoint h3 {
    padding-block: 0.5rem;
    font-size: var(--fs-600);
}

.checkpoint:nth-child(2) {
    margin-top: 4rem;
}

.checkpoint:last-child {
    margin-bottom: 4rem;
}

.checkpoint::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--clr-accent-300);
    background-color: hsl(var(--clr-background-secondary));
    top: 30px;
    left: -35px;
    z-index: 3000;
    position: absolute;
}

.from-left {
    transform: translateX(-100%);
  }
  
.from-right {
    transform: translateX(100%);
}

.from-left,
.from-right {
    transition: opacity 250ms ease-in, transform 500ms ease-in-out;
    opacity: 0;
}

.from-left.in-view,
.from-right.in-view {
    transform: translateX(0);
    opacity: 1;
}

/* Slide out when scrolling back up (reverse animation) */
.from-left.out-of-view {
    opacity: 0;
    transform: translateX(-100%);
}

.from-right.out-of-view {
    opacity: 0;
    transform: translateX(100%);
}

@media (min-width: 768px) {
    .timeline {
        grid-template-columns: 1fr 20px 1fr;
        grid-template-areas:
        "cp-1 timeline-scroller ."
        ". timeline-scroller cp-2"
        "cp-3 timeline-scroller ."
        ". timeline-scroller cp-4";
    }

    .checkpoint {
        margin: 2.5rem 1rem;
    }

    .scroll-watcher {
        margin-right: 0;
        left: 0;
        grid-area: timeline-scroller;
    }

    .cp-1 {
        grid-area: cp-1;
    }

    .cp-2 {
        grid-area: cp-2;
    }

    .cp-3 {
        grid-area: cp-3;
    }

    .cp-4 {
        grid-area: cp-4;
    }

    .checkpoint:nth-child(odd)::before { 
        left: -36px;
    }

    .checkpoint:nth-child(even)::before {
        left: auto;
        right: -35px;
    }
}

/* flip card */

.flip-cards {
    display: grid;
    justify-items: center;
    justify-self: center;
    padding: 3.5rem 1rem 2rem;
    grid-template-columns: 1fr;
    max-width: max-content;
}

.flip-cards .info {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    max-width: 800px;
}

.flip-cards button {
    padding: 0;
}
  
.flip-card {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    margin-block: 1.5rem;
}

.flip-card__content {
    position: relative;
    padding: 19em 5em;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card__content {
    transform: rotateY(.5turn);
}

.flip-card__front,
.flip-card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: clamp(1.25rem, 6vw, 2.5rem);
    border-radius: 1.5rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    place-items: center;
    background-color: hsl(var(--clr-background-secondary));
}

.flip-card__back {
    transform: rotateY(.5turn);
}

.flip-card__front img,
.flip-card__back img {
    width: auto;
}

.flip-card__back img {
    width: 180px;
}

.flip-card__back ul {
    padding-left: 1rem;
}

.flip-card__back li {
    font-size: var(--fs-300);
    margin-block: 1rem;
}

.flip-card.show .flip-card__content,
.flip-card:hover .flip-card__content,
.flip-card:focus .flip-card__content {
    transform: rotateY(.5turn);
}

@media (min-width: 768px) {
    .flip-cards {
        padding: 3.5rem 2rem;
    }

    .flip-card {
        margin-block: 2.5rem 1.5rem;
    }

    .flip-card__content {
        padding: 22em 5em;
    }

    .flip-card__back li {
        font-size: var(--fs-400);
    }

    .flip-card__front,
    .flip-card__back {
        padding: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .flip-cards {
        max-width: 1024px;
        padding: 3.5rem clamp(3rem, 6vw, 6rem) 2.5rem;
    }
}

/* certificate details */

.certifications {
    display: grid;
    justify-content: center;
    position: relative;
    width: 100%;
}

.certifications .info h2 {
    font-size: var(--fs-700);
}

.certificate-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: end;
}

.certificate-details div:nth-child(2),
.certificate-details div:nth-child(4) {
    justify-self: end;
    text-align: right;
}

.certificate-details p:nth-child(1) {
    text-transform: uppercase;
    font-size: var(--fs-300);
    line-height: 2.25;
}

@media (min-width: 768px) {
    .certificate-details p:nth-child(2) {
        font-size: var(--fs-500);
    }    
}

/* personal projects */

.projects {
    display: grid;
    gap: 4rem;
    width: 100%;
}

.projects-intro {
    display: grid;
    justify-self: center;
    text-align: center;
    gap: 0.75rem;
    max-width: 55ch;
}

.project {
    display: grid;
}

.project h2 {
    font-size: var(--fs-700);
}

.project h3 {
    font-size: var(--fs-600);
}

.project-info {
    display: grid;
    gap: 1.25rem;
    max-width: 450px;
    margin-bottom: 1rem;
}

.project-img-desktop {
    position: relative;
}

.project-links {
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 2rem;
}

.project-img-mobile {
    display: none;
    position: absolute;
    border-radius: 1.5rem;
    border: 1px solid hsl(var(--clr-background-secondary));
    max-width: clamp(160px, 20vw, 260px);
    top: -35%;
}

.project:nth-child(odd) .project-img-mobile {
    right: clamp(-18%, 20vw, -25%);
}

.project:nth-child(even) .project-img-mobile {
    left: clamp(-18%, 20vw, -25%);
}

.project img {
    border-radius: 1.5rem;
}

@media (min-width: 768px) {
    .projects {
        padding-inline: 2rem;
    }
}

@media (min-width: 1024px) {
    .projects {
        gap: 6rem;
        padding-inline: 5rem;
    }

    .projects-intro {
        justify-self: left;
        text-align: left;
    }

    .project {
        max-width: 75%;
    }

    .project-img-mobile {
        display: block;
    }

    .project:nth-child(even),
    .project:nth-child(even) .project-info {
        margin-left: auto;
    }   
}

@media (min-width: 1440px) {
    .project-img-mobile {
        top: -40%;
    }

    .project {
        max-width: 60%;
    }

}

/* contact form */

.contact-container { /* change naming of parent */
    display: grid;
    justify-content: center;
    position: relative;
    width: 100%;
}

.contact {
    display: grid;
    padding: 2rem 1rem 0;
    gap: 2rem;
    width: 100%;
    max-width: 1440px;
}

.contact-info {
    display: grid;
    gap: 1.75rem;
    align-content: start;
}

.contact-info h2 {
    font-size: var(--fs-800);
    width: fit-content;
}

.contact-info img {
    width: 30px;
}

.contact-info .flex {
    align-items: center;
}

.contact-form form {
    display: grid;
    gap: 1.25rem;
}

.contact-form form > * {
    border-radius: 0.75rem;
    padding: 1rem;
    width: 100%;
    background-color: hsla(var(--clr-background-primary), .2);
    border: none;
}

.contact-form input {
    height: 3rem;
    color: hsl(var(--clr-white));
}

.contact-form textarea {
    min-height: 12rem;
    color: hsl(var(--clr-white));
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: hsl(var(--clr-white));
}

@media (min-width: 768px) {
    .contact {
        padding: 3.5rem;
    }
}

@media (min-width: 1024px) {
    .contact {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    .contact-info p {
        width: 40ch;
    }
}

@media (min-width: 1440px) {
    .contact {
        width: 1300px;
    }
}

/* success page */

.email-success-container {
    display: grid;
    text-align: center;
    place-items: center;
    gap: 1.5rem;
    padding: 2.5rem 2rem;
    border-radius: 1.5rem;
}

.email-success-container img {
    width: 60px;
}
  
/* circles */

[class^='circle-'] {
    height: var(--circle-size);
    width: var(--circle-size);
    position: absolute;
    z-index: -1;
}

[class^="circle-"][data-size="small"] {
    --circle-size: 125px;
}

[class^="circle-"][data-size="medium"] {
    --circle-size: 225px;
}

[class^="circle-"][data-size="large"] {
    --circle-size: 280px;
}

[class^="circle-"][data-size="x-large"] {
    --circle-size: 325px;
}

@media (min-width: 768px) {
    [class^="circle-"][data-size="small"] {
        --circle-size: 200px;
    }
    
    [class^="circle-"][data-size="medium"] {
        --circle-size: 350px;
    }
    
    [class^="circle-"][data-size="large"] {
        --circle-size: 450px;
    }

    [class^="circle-"][data-size="x-large"] {
        --circle-size: 550px;
    }
}

@media (min-width: 1440px) {
    [class^="circle-"][data-size="small"] {
        --circle-size: 275px;
    }
    
    [class^="circle-"][data-size="medium"] {
        --circle-size: 425px;
    }
    
    [class^="circle-"][data-size="large"] {
        --circle-size: 520px;
    }

    [class^="circle-"][data-size="x-large"] {
        --circle-size: 625px;
    }
}


/* hero circles */

.hero .circle-1 {
    top: -70px;
    left: -70px;
}

.hero .circle-2 {
    top: 440px;
    right: -160px;
}

.hero .circle-3 {
    bottom: -70px;
    left: 40px;
    rotate: 90deg;
}

/* certification circles */

.certifications .circle-1 {
    top: -8%;
    right: -25%;
}

.certifications .circle-2 {
    bottom: -5%;
    right: 8%;
}

.certifications .circle-3 {
    top: 50%;
    left: -15%;
}

.contact-container .circle-1 {
    top: 35%;
    right: -10%;
}

.contact-container .circle-2 {
    top: -25%;
    left: -20%;
}

.contact-container .circle-3 {
    bottom: -8%;
    left: 20%;
}

@media (min-width: 768px) {
    .hero .circle-1 {
        top: -80px;
        left: -80px;
    }

    .hero .circle-2 {
        top: 340px;
        right: -290px;
    }

    .hero .circle-3 {
        bottom: -90px;
        left: 60px;
    }
    
    .certifications .circle-1 {
        top: -20%;
        right: -25%;
    }
    
    .certifications .circle-2 {
        right: 2%;
    }

    .certifications .circle-3 {
        top: 40%;
        left: -15%;
    }

    .contact-container .circle-2 {
        top: -40%;
    }

    .contact-container .circle-1 {
        right: -20%;
    }
}

@media (min-width: 1024px) {
    .hero .circle-1 {
        top: -200px;
        left: -130px;
    }

    .hero .circle-2 {
        top: 200px;
        right: -360px;
    }

    .hero .circle-3 {
        bottom: -110px;
        left: 190px;
    }

    .certifications .circle-1 {
        top: -25%;
        right: -13%;
    }

    .certifications .circle-2 {
        bottom: -10%;
        right: 15%;
    }

    .contact-container .circle-1 {
        top: 15%;
        right: -25%;
    }

    .contact-container .circle-2 {
        top: -75%;
        left: -25%;
    }

    .contact-container .circle-3 {
        bottom: -20%;
        left: 25%;
    }
}

@media (min-width: 1440px) {
    .hero .circle-1 {
        top: -210px;
        left: -140px;
    }

    .hero .circle-2 {
        top: 180px;
        right: -360px;
    }

    .hero .circle-3 {
        bottom: -180px;
        left: 330px;
    }

    .contact-container .circle-1 {
        top: -15%;
    }

    .contact-container .circle-2 {
        top: -65%;
        left: -10%;
    }

    .contact-container .circle-3 {
        bottom: -30%;
    }
}

